
:root {
    --main-color: rgb(210, 210, 210);
    --light-color: rgb(230, 230, 230);
    --dark-color: rgb(50, 50, 50, 0.7);
    --shadow: 0 .1em 0 rgb(130, 130, 130),
                0 .11em 0 rgba(0, 0, 0, .4),
                0 .1em .11em rgba(0, 0, 0, .9);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    &__title {
        font-size: 3rem;
        letter-spacing: 0.2rem;
        color: var(--main-color);
        text-shadow: var(--shadow);
    }
    &__game-status {
        font-size: 1.8rem;
        color: var(--dark-color);
        span {
            color: darkred;
            font-weight: 700;
        }
    }
    &__btn {
        font-size: 1.5rem;
        color: darkred;
        padding: 0.5rem 1.5rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(230, 230, 230)), to(rgb(255, 255, 255)));
        box-shadow: inset 0 0 1px rgb(255, 255, 255),
                    inset 0 0 .4em rgb(200, 200, 200),
                    var(--shadow);
    }
    .field {
        padding: 1rem;
        background-color: var(--main-color);
        max-width: 90%;        
        border-radius: .5rem;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 0;
    }
    .cell {
        width: 2rem;
        height: 2rem;
        border-radius: .3rem;
        border:var(--dark-color) solid 1px; 
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(230, 230, 230)), to(rgb(255, 255, 255)));
        box-shadow: inset 0 0 1px rgb(255, 255, 255),
                    inset 0 0 .4em rgb(200, 200, 200),
                    var(--shadow);
        transition: all 2;
        &_open {
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            background: var(--darK-color);
            cursor: default;
            transition: all 2;
        }
        &_bomb {
            background: url(../img/bomb.svg) var(--main-color) center center / 70% no-repeat;
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            cursor: default;

        }
        &_flag {
            position: relative;
            cursor: default;
            &::after {
                content: url(../img/flag.svg);
                width: 1rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .main {
        row-gap: 1rem;
        &__title {
            font-size: 2rem;
            letter-spacing: 0.1rem;
        }
        &__game-status {
            font-size: 1.3rem;
        }
        .field {
            padding: 0.5rem;            
        }
        .cell {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}